# Data cleaning
importer pandas et le dataset

In [1]:
import pandas as pd

In [18]:
chemin = "Https://bit.ly/world-cities-clean"
data = pd.read_csv(chemin)

In [13]:
data.head()

               name               country          subcountry  geonameid
0      les Escaldes               Andorra  Escaldes-Engordany    3040051
1  Andorra la Vella               Andorra    Andorra la Vella    3041563
2    Umm al Qaywayn  United Arab Emirates      Umm al Qaywayn     290594
3    Ras al-Khaimah  United Arab Emirates     Raʼs al Khaymah     291074
4      Khawr Fakkān  United Arab Emirates        Ash Shāriqah     291696

les raccourcis clavier
sur les cellules :
m pour transformer en markdown
y pour du code
r pour du raw (code non executable)
a creer une cellule au dessus
b creer une cellule en dessous
dd supprimer la cellule

## exo 1 les lectures de csv qui n'existent pas

In [ ]:
chemin1 = "./oui"
data1 = pd.read_csv(chemin1)

FileNotFoundError: [Errno 2] No such file or directory: '.\\oui'

le dossier ou fichier n'a pas ete trouve

il faut mettre un chemin valide qui mene a un fichier existant

## exo2 on a perdu la tete

In [42]:
chemin2 = "Https://bit.ly/world-cities-dirty-v1"
data2 = pd.read_csv(chemin2)

In [43]:
data2.head()

       les Escaldes               Andorra Escaldes-Engordany  3040051
0  Andorra la Vella               Andorra   Andorra la Vella  3041563
1    Umm al Qaywayn  United Arab Emirates     Umm al Qaywayn   290594
2    Ras al-Khaimah  United Arab Emirates    Raʼs al Khaymah   291074
3      Khawr Fakkān  United Arab Emirates       Ash Shāriqah   291696
4             Dubai  United Arab Emirates              Dubai   292223

le nom des colonne est incorrect mais il n'y a pas de message d'erreur

In [70]:
data2 = pd.read_csv(chemin2,names=['name','country','subcountry','geonameid'])

In [71]:
data2.head()

               name               country          subcountry  geonameid
0      les Escaldes               Andorra  Escaldes-Engordany    3040051
1  Andorra la Vella               Andorra    Andorra la Vella    3041563
2    Umm al Qaywayn  United Arab Emirates      Umm al Qaywayn     290594
3    Ras al-Khaimah  United Arab Emirates     Raʼs al Khaymah     291074
4      Khawr Fakkān  United Arab Emirates        Ash Shāriqah     291696

## exo 3 lorem ipsum (ad lib)

In [64]:
chemin3 = "Https://bit.ly/world-cities-dirty-v2"
data3 = pd.read_csv(chemin3)
data3

,,,,,,Lorem ipsum dolor sit amet,consectetur adipiscing elit,sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,sunt in culpa qui officia deserunt mollit anim id est laborum.
Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,totam rem aperiam,eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est,qui dolorem ipsum quia dolor sit amet,consectetur,adipisci velit,sed quia non numquam eius modi tempora incidu...,quis nostrum exercitationem ullam corporis su...,nisi ut aliquid ex ea commodi consequatur? Qu...,vel illum qui dolorem eum fugiat quo voluptas...
name,country,subcountry,geonameid,NaN,NaN,NaN,NaN,NaN,NaN,NaN
les Escaldes,Andorra,Escaldes-Engordany,3040051,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Andorra la Vella,Andorra,Andorra la Vella,3041563,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Umm al Qaywayn,United Arab Emirates,Umm al Qaywayn,290594,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
Bindura,Zimbabwe,Mashonaland Central,895061,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Beitbridge,Zimbabwe,Matabeleland South,895269,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Epworth,Zimbabwe,Harare,1085510,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Chitungwiza,Zimbabwe,Harare,1106542,NaN,NaN,NaN,NaN,NaN,NaN,NaN
At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident,similique sunt in culpa qui officia deserunt mollitia animi,id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore,cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus,omnis voluptas assumenda est,omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus,ut aut reiciendis voluptatibus maiores alias ...,NaN,NaN,NaN,NaN

on a un lorem ipsum en nom de colonnes et en premiere et derniere ligne

In [65]:
chemin3 = "Https://bit.ly/world-cities-dirty-v2"
data3 = pd.read_csv(chemin3,skiprows=2,skipfooter=1)
data3

<ipython-input-65-d838235c124e>:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  data3 = pd.read_csv(chemin3,skiprows=2,skipfooter=1)

                   name               country           subcountry  geonameid
0          les Escaldes               Andorra   Escaldes-Engordany    3040051
1      Andorra la Vella               Andorra     Andorra la Vella    3041563
2        Umm al Qaywayn  United Arab Emirates       Umm al Qaywayn     290594
3        Ras al-Khaimah  United Arab Emirates      Raʼs al Khaymah     291074
4          Khawr Fakkān  United Arab Emirates         Ash Shāriqah     291696
...                 ...                   ...                  ...        ...
23013          Bulawayo              Zimbabwe             Bulawayo     894701
23014           Bindura              Zimbabwe  Mashonaland Central     895061
23015        Beitbridge              Zimbabwe   Matabeleland South     895269
23016           Epworth              Zimbabwe               Harare    1085510
23017       Chitungwiza              Zimbabwe               Harare    1106542

[23018 rows x 4 columns]

si on a un probleme d'encodage il faut rajouter ,encode='utf-8' au read csv

## exo 4

In [68]:
chemin4 = "Https://bit.ly/world-cities-dirty-v3"
data4 = pd.read_csv(chemin4)
data4

         les Escaldes|Andorra|Escaldes-Engordany|3040051
0      Andorra la Vella|Andorra|Andorra la Vella|3041563
1      Umm al Qaywayn|United Arab Emirates|Umm al Qay...
2      Ras al-Khaimah|United Arab Emirates|Raʼs al Kh...
3      Khawr Fakkān|United Arab Emirates|Ash Shāriqah...
4                Dubai|United Arab Emirates|Dubai|292223
...                                                  ...
23012                  Bulawayo|Zimbabwe|Bulawayo|894701
23013        Bindura|Zimbabwe|Mashonaland Central|895061
23014      Beitbridge|Zimbabwe|Matabeleland South|895269
23015                    Epworth|Zimbabwe|Harare|1085510
23016                Chitungwiza|Zimbabwe|Harare|1106542

[23017 rows x 1 columns]

ici on a un probleme ou au lieu d'avoir des , pour delimiter on a des |

In [73]:
chemin4 = "Https://bit.ly/world-cities-dirty-v3"
data4 = pd.read_csv(chemin4, delimiter='|',names=['name','country','subcountry','geonameid'])
data4

                   name               country           subcountry  geonameid
0          les Escaldes               Andorra   Escaldes-Engordany    3040051
1      Andorra la Vella               Andorra     Andorra la Vella    3041563
2        Umm al Qaywayn  United Arab Emirates       Umm al Qaywayn     290594
3        Ras al-Khaimah  United Arab Emirates      Raʼs al Khaymah     291074
4          Khawr Fakkān  United Arab Emirates         Ash Shāriqah     291696
...                 ...                   ...                  ...        ...
23013          Bulawayo              Zimbabwe             Bulawayo     894701
23014           Bindura              Zimbabwe  Mashonaland Central     895061
23015        Beitbridge              Zimbabwe   Matabeleland South     895269
23016           Epworth              Zimbabwe               Harare    1085510
23017       Chitungwiza              Zimbabwe               Harare    1106542

[23018 rows x 4 columns]

on a demande a modifier quel est le delimiteur plutot que de le remplacer pour des raisons pratiques, sinon il faudrait remodifier le fichier a chaque mise a jour de ce dernier.